<h2>Detalles Usuario @Model.Nombres</h2>
<a asp-action="Index" class="btn btn-warning">Volver</a>

<table class="table border">
    <tr class="border">
        <th>Nombres</th>
        <td>@Model.Nombres</td>
    </tr>
    <tr class="border">
        <th>Apellidos</th>
        <td>@Model.Apellidos</td>
    </tr>
    <tr class="border">
        <th>Correo</th>
        <td>@Model.Correo</td>
    </tr>
</table>

